*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-color: blue;
    padding: 1rem 0;
    box-shadow: 0 0 25px black;
}

.navbar {
    width: 90%;
    color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    max-height: 50px;
    max-width: 50px;
    /* font-size: 1.5rem; */
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover{
    color: chartreuse;
}


.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    top: 15px;
    background-color: aqua;
    list-style: none;
    padding: 0.5rem 0;
    min-width: 150px;
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-menu li a{
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
transition: background 0.3s;
}


.dropdown-menu li a:hover{
background-color: #555;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

body {
    margin: 0;
    background: #f8f9fa;
    color: #333;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

h1, h2{
    color: #222;
}

.hero{
    background: linear-gradient(to right, #0066cc, #004999);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1{
    font-size: 2.5rem;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0, 1);
    text-align: center;
}

.contact-form{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0, 1);;
}

input, textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}